[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "external/libfixmath"]
	path = external/libfixmath
	url = https://github.com/PetteriAimonen/libfixmath.git
